# Genel dizin dışlamaları
node_modules/
dist/
.env
.env.*
.DS_Store
*.log
.vscode/
coverage/
*.pid
*.tgz
npm-debug.log*

# Docker ile ilgili
docker-compose.override.yml

# Ortak klasör
/global/node_modules/
